<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Cadastre-se!</h3>

    <p>
      Com seu cadastro você consegue usar todas as funcionalidades do nosso
      site.
    </p>

    <form
      id="formId"
      (ngSubmit)="onSubmit(validacaoLogin)"
      #validacaoLogin="ngForm"
    >
      <div class="mb-3">
        <input
          type="text"
          name="name"
          ngModel
          required
          #name="ngModel"
          class="form-control"
          id="loginName"
          placeholder="Enter Name"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          name="lName"
          ngModel
          required
          #lName="ngModel"
          class="form-control"
          id="loginLastName"
          placeholder="Enter Last Name"
        />
      </div>

      <div class="mb-3">
        <input
          type="name"
          name="email"
          ngModel
          required
          #email="ngModel"
          class="form-control"
          id="loginEmail"
          placeholder="Enter Email"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          name="password"
          ngModel
          required
          #password="ngModel"
          class="form-control"
          id="loginPassword"
          placeholder="Enter Password"
        />
      </div>

      <button
        type="submit"
        [disabled]="validacaoLogin.invalid"
        class="btn btn-primary"
      >
        REGISTRAR
      </button>
    </form>
  </div>
</div>
