<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Cadastre-se!</h3>

    <p>
      Com seu cadastro você consegue usar todas as funcionalidades do nosso
      site.
    </p>

    <form>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="loginName"
          placeholder="Enter Name"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="loginLastName"
          placeholder="Enter Last Name"
        />
      </div>

      <div class="mb-3">
        <input
          type="name"
          class="form-control"
          id="loginEmail"
          placeholder="Enter Email"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="loginPassword"
          placeholder="Enter Password"
        />
      </div>

      <button type="submit" class="btn btn-primary">REGISTRAR</button>
    </form>
  </div>
</div>
