/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* sistema de validação  de e-mail */
.ng-valid[required], .ng-valid.required  {
  border-left: 4px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 4px solid #a94442; /* red */
}
/* fim sistema de validação  de e-mail */
